{% load crispy_forms_tags %}

<div class="card">
    <div class="p-3 border-bottom d-flex justify-content-between">
        <div class="font-weight-bold mb-0">Change Active Theme</div>
    </div>
    <div class="p-3">
	<p class="text-danger"> Changing the active theme will change the appearance of the site for all users. </p>
	<p> Active Theme: <b>{{ active_theme.name }}</b> </p>
	    
	<form method="POST" action="{% url 'stylist:stylist-make-active' %}">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" value="Change Theme" class="btn btn-primary text-light float-right"></input>
	    <input type="button" name="cancel" value="Cancel" class="btn text-primary font-weight-bold float-right" id="button-id-cancel" data-dismiss="modal">
	</form>
    </div>
</div>
