$primary: #5c9d5b;
$primarygradientend: #407440;
$hover: #407440;
$hover2: #f0fce3;
$accent: #7ea6d6;
$accentgradientend: #5e7395;
$accenthover: #5875a3;
$success: #58cc24;
$warning: #ffcc33;
$danger: #fc4848;
$richblack: #0d0d0d;
$dark: #38629d;
$darkgradientend: #405377;
$white: #ffffff;
$white-50: #ffffff88;
$black: #101c33;
$darkgrey: #5c6066;
$muted: #91939a;
$secondary: #d7d9db;
$light: #f0f0f0;
$light-75: #f0f0f0bf;
$info: #64ceff;
$shadow: #00000026;
$line-height: 1.375;
$letter-spacing-base: -0.08px;
$font-size-base: 1rem;
$font-family-base: 'Source Sans Pro', sans-serif;
$font-family-headings: Nunito;
$display4-weight: 700;
$display4-letter-spacing: -2.24px;
$display4-line-height: 1.04;
$display4-font-size: 3.5rem;
$display5-font-size: 3.25rem;
$display5-weight: 600;
$display5-letter-spacing: -2.24px;
$display5-line-height: 1.04;
$h1-font-size: 2.5rem;
$h1-font-weight: 600;
$h1-line-height: 1.1;
$h1-letter-spacing: -1px;
$h2-font-size: 2rem;
$h2-font-weight: 600;
$h2-line-height: 1.125;
$h2-letter-spacing: -0.64px;
$h3-font-size: 1.75rem;
$h3-font-weight: 700;
$h3-line-height: 1.08;
$h3-letter-spacing: -0.7px;
$h4-font-size: 1.5rem;
$h4-font-weight: 600;
$h4-line-height: 1.17;
$h4-letter-spacing: -0.72px;
$h5-font-size: 1.25rem;
$h5-font-weight: 700;
$h5-line-height: 1.1;
$h5-letter-spacing: -0.4px;
$h6-font-size: 1.125rem;
$h6-font-weight: 700;
$h6-line-height: 1.17;
$h6-letter-spacing: -0.27px;
$label-font-size: 1rem;
$label-line-height: 1.375rem;
$label-letter-spacing: -0.08px;
$small-font-size: 0.8125rem;
$small-line-height: 1.31;
$small-label-font-size: 0.625rem;
$small-label-line-height: 1.4;
